*.o
*.o.rs
*.ko
*.a
*.la
*.lo
*.so
*.so.*
*.dylib
*.out
*.gcno
*.gcda
*.gcov

model

html/

Makefile
Makefile.in

asm_defines.h

/aclocal.m4
/autom4te.cache/
/config.*
/configure
/compile
/depcomp
/install-sh
/libtool
/ltmain.sh
libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
libtool.m4

/missing
/stamp-h?
/ar-lib
.deps/
.dirstamp
.libs/
*.l[ao]
*~

rootsim-cc
outputs/

doxy.conf
doxyfile.stamp

Module.symvers
modules.order
*.o.cmd
*.ko.cmd
*.mod.c
.tmp_versions

/dymelor
/numerical
