language: c
compiler: gcc

install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq automake pkg-config build-essential libtool automake autoconf m4

before_script:
  - sudo ldconfig
  - autoupdate
  - m4 --version
  - automake --version
  - autoconf --version

script:
  - ./autogen.sh
  - ./configure
  - make
